section[class="mention"] .mention_items{
    width:90%;
    margin:0 auto;
    padding:10px 0;
}

section[class="mention"] .mention_items:first-child{
    text-align: center;
    padding:15px 0;
    border-bottom:1px solid #ececec;
    color:#8B8CEC;
}

section[class="mention"] .mention_items:first-child > img{
    width: 15px;
    transform: translate(0,20%);
}

section[class="mention"] .mention_items:nth-child(2){
    border-bottom:1px solid #ececec;
    display:flex;
    flex-direction: column;
    align-items: center;
}
section[class="mention"] .mention_items:nth-child(2) >img{
    margin-top:30px;
    width:100px;
    border-radius: 100%;
}
section[class="mention"] .mention_items:nth-child(2) >span{
    color:#797979;
    padding:20px 0;
}

section[class="mention"] .mention_items:nth-child(3){
    color:#8B8CEC;
    padding:20px 0;
    font-size:15px;
}
section[class="mention"] .mention_items:nth-child(3){
    color:#8B8CEC;
    padding:20px 0;
    font-size:15px;
}



section[class="mention"] .mention_items:nth-child(4){
    display:flex;
    flex-direction: column;
    height:150px;
}
section[class="mention"] .mention_items:nth-child(4) .items_row{
    display:flex;
    width:100%;
    justify-content: space-between;
    margin-bottom:13px;
}
section[class="mention"] .mention_items:nth-child(4) .items_row div{
    cursor: pointer;
    width:45%;
    filter:drop-shadow(0px 5px 5px #f0f0f0);
    background-color: #fdfdfd;
    border-radius: 25px;
    height:40px;
    display:flex;
    justify-content: left;
    padding-left:10px;
    align-items: center;
}
section[class="mention"] .mention_items:nth-child(4) .items_row div:hover{
    transform: translate(0,-3px);
}


section[class="mention"] .mention_items:nth-child(4) .mention_span{
    color:gray;
    font-size : 12px;
}

section[class="mention"] .mention_items:nth-child(4) .items_row img{
    width:25px;
}


section[class="mention"] input[type="submit"]{
    width:80%;
    display:block;
    margin:0 auto;
    border-radius: 30px;
    height:50px;
    color:white;
    background: linear-gradient(to bottom,#8B8CEC,#484bff);
    font-size:14px;
    cursor:pointer;
}