section[class="mypage"] .content{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section[class="mypage"] h3{
    width:90%;
    margin:0 auto;
    padding:20px 0;
    color:#8B8CEC;
    font-size: 18px;
}

section[class="mypage"] article{
    background-color: #fafaff;
    margin:0 0 10px;
    border-radius: 12px;
    padding-bottom:20px;
    border:1px solid #f0f0f0;
}
section[class="mypage"] article h2{
    color: #8B8CEC;
    font-size: 16px;
    padding: 15px 0 0 20px;
}
section[class="mypage"] article .hr{
    position:relative;
    top:-8px;
    width:95%;
    background-color: rgb(238, 238, 238);
    height: 1px;
    margin : 0 auto;
}

section[class="mypage"] .content{
    width:95%;
    margin : 0 auto;
    overflow-x: hidden;
}
section[class="mypage"] .content .imgbox-container{
    width:1000px;
    display:flex;
    position:relative;
}
section[class="mypage"] .content .imgbox{
    padding-top:5px;
    width:85px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
section[class="mypage"] .content .imgbox img{
    pointer-events: none;
    border-radius: 100%;
    width:60px;
    height:60px;
    filter:drop-shadow(0px 5px 3px #d3d3d3);
}
section[class="mypage"] .content .imgbox img:hover{
    transform: translate(0, -2px);
    filter:drop-shadow(0px 7px 3px #d3d3d3);
}
section[class="mypage"] .content .imgbox span{
    margin:5px 0 10px;
    font-size:11px;
}



section[class="mypage"] article:first-child{
    padding-bottom:0;
}
section[class="mypage"] .mypage_box1 > img{
    margin-top: 20px;
    border-radius: 100%;
    width:100px;
    height:100px;
}
section[class="mypage"] .mypage_box1 .mention_items{
    margin-top: 20px;
    text-align: center;
}
section[class="mypage"] .mypage_box1 .mention_items img{
    width:15px;
    transform: translate(0,10%);
}
section[class="mypage"] .mypage_box1 >div:last-child{
    margin: 15px 0;
    border-radius: 15px;
    padding:5px;
    width:50%;
    background-color: white;
    text-align: center;
    filter:drop-shadow(0px 5px 5px #ececec);
    color:#8B8CEC;
    font-size: 13px;
    cursor: pointer;
}

section[class="mypage"] .mypage_box1{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
    justify-content: center;
    padding:20px 0;
}

section[class="mypage"] .mypage_box2{
    display: flex;
    justify-content: space-between;
}

section[class="mypage"] .mypage_box3{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #f0f0f0;
    align-items: center;
    justify-content: center;
    width:100%;
    padding:5px 0;
    height:150px;
}
section[class="mypage"] .mypage_box4{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
    justify-content: center;
    width:100%;
    padding:5px 0;
}

section[class="mypage"] .mypage_box4>div:first-child{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #f0f0f0;
    align-items: center;
    justify-content: space-around;
    width:100%;
    height:60%;
    padding:5px 0;
}

section[class="mypage"] .mypage_box4>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;

    width:100%;
    height:40%;
    padding:5px 0;
}

section[class="mypage"] .logout_box{
    display: block;
    width:80%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 15px;
    text-align: center;
    padding:10px 0;
    background-color: #8B8CEC;
    color:white;
    text-decoration: none;
}