@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

body{
    min-height:800px;
    margin:0;
    padding:0;
    overflow-x:hidden;
}

.container{
    margin:0 auto;
    max-width:430px;
    width:100%;
}

header .topbar{
    height:120px;
    background-color:#8B8CEC;
    position:relative;
}


header .topbar span{
    transform:translate(-50%,0%);
    position:absolute;
    color:white;
    font-size:21px;
    letter-spacing: 1px;
    bottom:30px;
    left:50%;
    z-index: 1;
}



header .bottombar{
    position:fixed;
    bottom:0%;
    background-color:#f7f8f9;
    border-top: 1px solid #f0f0f0;
    max-width: 430px;
    width:100%;
    padding-bottom:30px;
    height:60px;
    z-index: 3;
}

header .bottombar .icon-home{
    width:80px;
    filter:drop-shadow(0px 5px 5px #b4b4b4);
    position:absolute;
    top:-7px;
    left:50%;
    transform:translate(-50%,0%);
    transition: all 0.2s ease;
    z-index: 5;
}

header .bottombar .icon-home:hover{
    transform: translate(-50%, -10px);
    filter:drop-shadow(0px 10px 5px #b4b4b4);
}

header .bottombar{
    display:flex;
    justify-content:space-around;
}

header .bottombar .nav-left{
    padding-top:10px;
    width:25%;
    display:flex;
    justify-content: space-between;
}
header .bottombar .nav-right{
    padding-top:12px;
    width:25%;
    display:flex;
    justify-content: space-between;
}

header .bottombar .nav-left img{
    width:25px;
}
header .bottombar .nav-right img{
    width:25px;
}



section[class="main"] article{
    background-color: #fafaff;
    margin:10px 0 0;
    border-radius: 12px;
}
section[class="main"] article h2{
    color: #8B8CEC;
    font-size: 16px;
    padding: 15px 0 0 20px;
}
section[class="main"] article .hr{
    position:relative;
    top:-8px;
    width:95%;
    background-color: rgb(238, 238, 238);
    height: 1px;
    margin : 0 auto;
}

section[class="main"] .content{
    width:95%;
    margin : 0 auto;
    overflow-x: hidden;
}
section[class="main"] .content .imgbox-container{
    width:1000px;
    display:flex;
    position:relative;
}
section[class="main"] .content .imgbox{
    padding-top:5px;
    width:85px;
    display:flex;
    flex-direction: column;
    align-items:center;

}
section[class="main"] .content .imgbox img{
    pointer-events: none;
    border-radius: 100%;
    width:60px;
    height:60px;
    filter:drop-shadow(0px 5px 3px #d3d3d3);
}
section[class="main"] .content .imgbox img:hover{
    transform: translate(0, -2px);
    filter:drop-shadow(0px 7px 3px #d3d3d3);
}
section[class="main"] .content .imgbox span{
    margin:5px 0 10px;
    font-size:11px;
}



.blank{
    height:100px;
}


/*map.html*/
section[class="map"] article{
    background-color: #fafaff;
    margin:5px;
    padding:20px 0;
}

/* base.html */
.top{
    display : none;
}
.top div{
    position:fixed; 
    z-index: 1001;
    left:50%;
    bottom:0%;
    border-radius: 70%;
    transform:translate(150px,-110px);
    background-color: rgba(0, 0, 0, 0.753);
    width: 42px;
    height : 42px;
    text-align: center;
    color:white;
}

.top img{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:12px;
}
.top div:hover{
    text-decoration: none;
    background-color: #8B8CEC;
}

/* join2.html */

/* image box */
.input-bar-wrapper{
    top: 241px;
    left: 0px;
    width: 375px;
    height: 349px;
    background: #FAFAFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #B9B9B929;
    opacity: 1;
}