section[class="info_kitchen"] article{
    background-color: #fafaff;
    margin:0 0 10px;
    border-radius: 12px;
    padding-bottom:20px;
}
section[class="info_kitchen"] article h2{
    color: #8B8CEC;
    font-size: 16px;
    padding: 15px 0 0 20px;
}
section[class="info_kitchen"] article .hr{
    position:relative;
    top:-8px;
    width:95%;
    background-color: rgb(238, 238, 238);
    height: 1px;
    margin : 0 auto;
}

section[class="info_kitchen"] article .img_kitchen{
    width:100%;
    object-fit: cover;
    max-height: 250px;
}
section[class="info_kitchen"] .imgInfobox{
    display:flex;
    padding:10px 30px 0;
    justify-content: space-between;
}
section[class="info_kitchen"] .imgInfobox div{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100px;
}
section[class="info_kitchen"] .imgInfobox div span{
    color:rgb(122, 122, 122);
    font-size:12px;
}
section[class="info_kitchen"] .imgInfobox div span:last-child{
    color:#8B8CEC;
}

section[class="info_kitchen"] .imgInfobox img{
    width:15px;
}


section[class="info_kitchen"] .content{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section[class="info_kitchen"] .imgbox{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:15px 0px 0px;
    text-decoration: none;
}

section[class="info_kitchen"] .imgbox img{
    width:70px;
    height:70px;
    border-radius: 100%;
    filter:drop-shadow(0px 5px 3px #dfdfdf);
}
section[class="info_kitchen"] .imgbox span{
    padding-top: 10px;
    font-size: 14px;
}


section[class="info_kitchen"] .buttonbox2{
    display:flex;
    width:100%;
    height:85px;
    background-color: white;
    filter:drop-shadow(0px 3px 5px #ebebeb);
    justify-content: space-around;
    align-items: center;
    margin-bottom:40px;
}
section[class="info_kitchen"] .buttonbox2 .button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    height:100%;
}
section[class="info_kitchen"] .buttonbox2 .button{
    border-right:1px solid #ebebeb;
    cursor: pointer;
    text-decoration: none;
}
section[class="info_kitchen"] .buttonbox2 .button img{
    width:30px;
}
section[class="info_kitchen"] .buttonbox2 .button img:hover {
    transform:translate(0,-5px);
}
section[class="info_kitchen"] .buttonbox2 .button span{
    color:#8B8CEC;
    padding-top:10px;
    font-size: 12px;
}



section[class="info_kitchen"] .mention_container2 .mention_box2 img{
    width:60px;
    height:60px;
    border-radius: 100%;
}
section[class="info_kitchen"] .mention_container2 .mention_box2{
    height: 70px;
    width:400px; 
    position: relative; 
    margin-left:15px; 
    display:flex;
    justify-content: space-around; 
    text-decoration: none;
    align-items: center;
}
section[class="info_kitchen"] .mention_container2 .mention_text{
    display:flex;
    align-items: center;
    justify-content: center;
    background: transparent linear-gradient(104deg,#4E43F9  0%,  #7C98FD 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 8px #0000000D;
    color:white;
    border-radius: 20px 20px 20px 0px;
    opacity: 1;
    width:80%;
    height:50px;
}
