<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PickCat</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style-mention.css' %}">
    <link rel="stylesheet" href="{% static 'style-info_cat.css' %}">
    <link rel="stylesheet" href="{% static 'style-info_kitchen.css' %}">
    <link rel="shortcut icon" href="../static/img/icon-home.ico"/>
</head>

<body>
    <div class="container">
        <header>
            <div class="topbar">
                <span>
                    PickCat
                </span>
            </div>
            <div class="bottombar">
                <div class="nav-left">
                    <a href="{% url 'chatting' %}"><img src="{% static 'img/icon-live.png' %}" style="width:30px;"></a>
                    <a href="{% url 'register' %}"><img src="{% static 'img/icon-img.png' %}"></a>
                </div>
                <a href="{% url 'main' %}"><img src="{% static 'img/icon-home.png' %}" class="icon-home"></a>
                <div class="nav-right">
                    <a href="{% url 'map' %}"><img src="{% static 'img/icon-map.png' %}" style="width:30px;"></a>
                    <a href="{% url 'mypage' %}"><img src="{% static 'img/icon-mypage.png' %}"></a>
                </div>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <div class="blank"></div>
    </div>
    <a href="#" class="top"><div><img src="{% static 'img/direction.png' %}"></div></a>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>

</html>