{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="info_kitchen">
    <article>
        <img class="img_kitchen" src="{{kitchenInfo.image_url}}">
        <div class="imgInfobox">
            <span>{{ kitchenInfo.name}}</span>
            <div>
                <img src="{% static 'img/icon-checkin.png'%}">
                <span>오늘 체크인 </span>
                <span>{{ kitchenInfo.checkIn }}명</span>
            </div>
        </div>
    </article>
    <article>
        <h2 style="font-size:13px;">급식소에 자주 오는 친구들</h2>
        <div class="hr"></div>
        <div class="content">

            {% for cat in kitchenInfo.cat_set.all %}
                    <a class="imgbox" href="{% url 'info_cat' cat.id %}">
                <img src="{{cat.image_url}}">
                <span>{{ cat.name }}</span>
            </a>
            {% endfor %}
        </div>
    </article>
    <div class="buttonbox2">
        <a class="button" href="{% url "read_qr" %}">
            <img src="{% static 'img/icon-barcode.png'%}">
            <span>QR출석하기</span>
        </a>

            {% if isFavorite %}
                <a class="button" href="{% url 'removeFavoriteKitchen' kitchenInfo.id %}">
                <img src="{% static 'img/icon-pick.png'%}">
                <span>UnPick</span>
            {% else %}
                <a class="button" href="{% url 'addFavoriteKitchen' kitchenInfo.id %}">
                <img src="{% static 'img/icon-pick.png'%}">
                <span>Pick</span>
            {% endif %}
        </a>
        <a class="button" href="{% url "mention_kitchen" kitchenInfo.id %}">
            <img src="{% static 'img/icon-message.png'%}">
            <span>멘션쓰기</span>
        </a>
    </div>
    <article>
        <h2>실시간 멘션</h2>
        <div class="hr"></div>
        <div class="content">

            {% for mention in kitchenMentions %}
                {{ mention.mention.user }}
                <img src="{{ mention.mention.user.image_url }}">
                {{ mention.mention.mention }}
            {% endfor %}

        </div>
    </article>

</section>

{% endblock %}