{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="info_cat">
    <article>
        <div class="imgbox">
            <div>
                <img src="{% static 'img/cat.png'%}">
            </div>
        </div>
        <h3>{{ catInfo.name }}</h3>
        <div class="buttonbox">
            <a class="button">
                <img src="{% static 'img/icon-pick.png'%}">
                <span>Pick</span>
            </a>
            <a class="button" href="#">
                <img src="{% static 'img/icon-message.png'%}">
                <span>멘션쓰기</span>
            </a>
            <a class="button">
                <img src="{% static 'img/icon-alarm.png'%}">
                <span>위급상황</span>
            </a>
        </div>
    </article>
    <article>
        <h2>야옹이 정보</h2>
        <div class="hr"></div>
        <span class="unfold1"><img src="{% static 'img/direction-down.png'%}">&nbsp;펼치기</span>
        <div class="content">
            <div class="infobox">
                {{ catInfo.breed }}
                {{ catInfo.get_isNeutered_display }}
                {{ catInfo.get_gender_display }}

            </div>
        </div>
    </article>
    <article>
        <h2>야옹이 앨범</h2>
        <div class="hr"></div>
        <span class="unfold2"><img src="{% static 'img/direction-down.png'%}">&nbsp;펼치기</span>
        <div class="content">
            <div class="albumbox">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
                <img src="{%static 'img/cat.png'%}">
            </div>
        </div>
    </article>
    <article>
        <h2>실시간 멘션</h2>
        <div class="hr"></div>
        <div class="content"></div>
    </article>
</section>

{% endblock %}