{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="info_cat">
    <article>
        <div class="imgbox">
            <div>
                <img src="{{ catInfo.image_url }}">
            </div>
        </div>
        <h3>{{ catInfo.name }}</h3>
        <div class="buttonbox">
            {% if isFavorite %}
            <a class="button" href="{% url 'removeFavoriteCat' catInfo.id %}">
                <img src="{% static 'img/icon-pick.png'%}">
                <span>UnPick</span>
                {% else %}
                <a class="button" href="{% url 'addFavoriteCat' catInfo.id %}">
                    <img src="{% static 'img/icon-pick.png'%}">
                    <span>Pick</span>
                    {% endif %}

                </a>
                <a class="button" href="{% url "mention_cat" catInfo.id %}">
                    <img src="{% static 'img/icon-message.png'%}">
                    <span>멘션쓰기</span>
                </a>
                <a class="button" onclick="catEmergency()">
                    <img src="{% static 'img/icon-alarm.png'%}">
                    <span>위급상황</span>
                </a>
        </div>
    </article>
    <article>
        <h2>야옹이 정보</h2>
        <div class="hr"></div>
        <span class="unfold1"><img src="{% static 'img/direction-down.png'%}">&nbsp;펼치기</span>
        <div class="content">
            <div class="infobox" style="color:#8B8CEC; font-weight: bold; font-size:11pt">


               <img src="{% static 'img/icon-cat.png'%}" width="33px" height="33px"><span style="margin: 6px 8px 0px 6px; width: 20%">{{ catInfo.breed }}</span>
               <img src="{% static 'img/icon-neutered.png'%}" width="33px" height="33px"><span style="margin: 6px 8px 0px 6px;width: 20%">{{ catInfo.get_isNeutered_display }}</span>
              <img src="{% static 'img/icon-gender.png'%}" width="33px" height="33px"><span style="margin: 6px 8px 0px 6px;width: 20%">{{ catInfo.get_gender_display }}</span>
                

   <img src="{% static 'img/icon-feature.png'%}" width="33px" height="33px" >


                {% for tag in catFeatures %}
                <div style="border-radius: 15px; background-color: #8B8CEC; color:white; padding: 0 10px; margin: 7px 3px; height: 20px">{{ tag }}</div>
                {% endfor %}


    </article>
    <article>
        <h2>야옹이 앨범</h2>
        <div class="hr"></div>
        <span class="unfold2"><img src="{% static 'img/direction-down.png'%}">&nbsp;펼치기</span>
        <div class="content">
            <div class="albumbox">

                {% for elem in catPhoto %}
                <img src="{{ elem.image_url }}">

                {% endfor %}
            </div>
        </div>
    </article>
    <article>
        <h2>실시간 멘션</h2>
        <div class="hr"></div>
        <div class="content">

            {% for mention in catMentions %}
                {{ mention.mention.user }}
                <img src="{{ mention.mention.user.image_url }}">
                {{ mention.mention.mention }}
            {% endfor %}

        </div>
    </article>
</section>
<script>
    function catEmergency() {
        if (window.emergencySent) {
            alert('이미 긴급 알림이 전송되었습니다');
            return
        }
        if (!confirm("긴급 알림을 전송하시겠습니까?")) {
            return
        }
        xhr = new XMLHttpRequest();
        xhr.open("GET", "{% url 'emergency' catInfo.id %}", true);
        xhr.responseType = 'json';
        xhr.send();
        xhr.onreadystatechange = (e) => {
            if (xhr.readyState == 4 && xhr.status == 200) {
                data = xhr.response;
                if (data.result == '00' || data.result == '41') {
                    alert(`전송되었습니다.`);
                    window.emergencySent = 1;

                }
                else {
                    alert(`전송중 오류가 발생하였습니다.\n오류 코드 : ${data.result}`)
                }
            }
        }

    }
</script>
{% endblock %}