{% extends 'signbase.html' %} {% block content %}
<header>
  <div class="topbar-sign">
    <span> 회원가입 </span>
    <div class="topbar-line"></div>
  </div>
</header>

<div id="main-title">
  <span id="title-1" style="color: #484848">가입 완료 !</span><br />
  <span id="title-1" style="color: #484848">픽켓가입이 완료되었습니다</span>
</div>
<br />
<div class="input-positioner-join4">
  <img src="../static/img/join4-icon.png" id="join4-icon-image" style="width: 126px; height: 126px;">
  <br />

  <br /><br />
  {{user.nickname}}님!<br />
  우리 동네 집사가 되신 걸 환영합니다!<br />
  <div class="">
    <button id="btn-signin-join4" type="button" onclick="location.href='main'">
      픽켓시작하기
    </button>
  </div>
</div>

{% endblock %}