<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <script src="{% static 'script.js' %}"></script>
    <link rel="shortcut icon" href="../static/img/icon-home.png" />
  </head>

  <body>
    <header>
      <div class="topbar-sign">
        <span> 회원가입 </span>
        <div class="topbar-line"></div>
      </div>
    </header>

    <div id="main-title">
      <span id="title-1" style="color: black">가입 정보 입력</span><br />
      <span id="title-1" style="color: black"
        >픽캣과 함께 집사 될 준비되셨나요?</span
      >
    </div>

    <form
      method="POST"
      action="{% url 'join1'%}"
      onkeydown="return event.key != 'Enter';"
      onsubmit="return verifyForm(event)"
    >
      {% csrf_token %}
      <br /><br />

      <div class="input-positioner">
        <div class="input-bar-wrapper">
          <input
            type="email"
            id="input-bar"
            placeholder="이메일을 입력해주세요"
            name="email"
          />
        </div>
        <br />
        <div class="input-bar-wrapper">
          <input
            type="text"
            id="input-bar"
            placeholder="휴대폰 번호를 입력해주세요"
            name="phoneNumber"
          />
        </div>
        <br />
        <div class="input-bar-wrapper">
          <input
            type="password"
            id="pw1"
            placeholder="비밀번호를 입력해주세요"
            name="password"
          />
        </div>
        <br />
        <div class="input-bar-wrapper">
          <input
            type="password"
            id="pw2"
            placeholder="비밀번호 확인"
            name="password2"
          />
        </div>

        <div class="">
          <button id="btn-signin" type="submit">다음</button>
        </div>
      </div>
    </form>

    <script type="text/javascript">
      verifyForm(event){
        pw1 = document.getElementById('pw1');
        pw2 = document.getElementById('pw2');
        if (pw1.value == pw2.value){
          return true;
        }
        else {
          alert('비밀번호가 일치하지 않습니다.');
          return false
        }
      }
    </script>
  </body>
</html>
