{% extends 'signbase.html' %} 
{% block content %}
{% load static %}
    <header>
        <div class="topbar-sign">
            <span>
                로그인
            </span>
        </div>
    </header>

    <div id="login-maintitle">
        <span style="color:#8B8CEC; ">픽켓</span><span id = "title-2" style="color:#70737B;">과 </span>함께<br>
        <span style="color:#8B8CEC;">우리 동네 집사</span>가 되어 볼까요?
    </div>

    <form method="POST" action="{% url 'login'%}">
        {% csrf_token %}
        <br><br>
        <div id="div-link-register" style="width:90%; margin:0 auto;">
            <span>먼저</span>
            <a href="login" style="color: #8B8CEC;">로그인</a> <span>이 필요해요!</span>
        </div>

        <div class="input-positioner">
            <div class="input-bar-wrapper">
                <input type="text" id="input-bar" placeholder="아이디를 입력해주세요" name="email">
            </div>
            <br>
            <div class="input-bar-wrapper">
                <input type="password" id="input-bar" placeholder="비밀번호를 입력해주세요" name="password">
            </div>

            <div id="forget-password">
                <div>
                    아직 픽켓의 회원이 아니신가요? &nbsp;&nbsp;
                </div>
                <div>
                    <a href = "{% url 'join'%}" style="color: #8B8CEC;">회원가입</a>
                </div>
            </div>

            <input id="btn-signin" type="submit" value="계속하기">
        </div>
    </form>

    {% endblock %} 

</body>