{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="main">
    <article>
        <h2>My pick</h2>
        <div class="hr"></div>
        <div class="content">
            <div class="imgbox_container">
                {% for cat in Cats %}
                <div class="imgbox">
                    <a href="{% url 'info_cat' cat.id %}"><img src="{{ cat.image_url }}"></a>
                    <span>{{ cat.name }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </article>
    <article>
        <h2>픽켓 실시간</h2>
        <div class="hr"></div>
        <div class="content">
            <div class="mention_container" style="display:flex">
            {% for mention in recentMention %}
                    {% if mention.type == "K" %}
                        <a class="mention_box" href="{% url "info_kitchen" mention.kitchenmention_set.first.target.id %}"> 
                            <img src="{{mention.kitchenmention_set.first.target.image_url}}">
                            <div class="mention_text"><span style="color:#ceffbf;">@ {{ mention.kitchenmention_set.first.target }}</span>&nbsp;&nbsp;{{ mention.mention }}</div>
                        </a>
                        
                    {% endif %}
                    {% if mention.type == "C" %}
                        <a class="mention_box" href="{% url "info_cat" mention.catmention_set.first.target.id %}"> 
                            <img src="{{mention.catmention_set.first.target.image_url}}">
                            <div class="mention_text"><span style="color:#ceffbf;">@ {{ mention.catmention_set.first.target }}</span>&nbsp;&nbsp;{{ mention.mention }}</div>
                        </a>
                    {% endif %}
                    {% if mention.type == "E" %}
                        <a class="mention_box" href="{% url "info_cat" mention.emergencymention_set.first.target.id %}"> 
                            <img src="{{mention.catmention_set.first.target.image_url}}">
                            <div class="mention_text"><span style="color:#ceffbf;">@ {{ mention.emergencymention_set.first.target }}</span>&nbsp;&nbsp;{{ mention.mention }}</div>
                        </a>
                    {% endif %}
            {% endfor %}
        </div>
        </div>
    </article>
    <article>
        <h2>내가 Pick한 급식소</h2>
        <div class="hr"></div>
        <div class="content" style="overflow-x: scroll;">
            <div class="kitchen_container" style="display:flex;">
                {% for kitchen in Kitchens %}
                    <a href="{% url 'info_kitchen' kitchen.id %}" style="width:400px; position: relative; margin-left:15px; display:block; text-decoration: none;">
                        <img class="main_kitchen" style="width:100%; object-fit: cover; max-height: 250px;" src="{{ kitchen.image_url }}"><br><br>
                        <span style="font-size: 20px; color:black">{{ kitchen.name }}</span>
                        <span style="font-size: 11px; display: inline-block; color:#8B8CEC; border:1px solid #f0f0f0; text-align:center; width:90px; padding:5px; background-color: white; border-radius: 20px;">오늘 체크인 {{ kitchen.checkIn }}명</span>
                        <br><br>
                    </a>
                {% endfor %}
            </div>
        </div>
    </article>

    <article>
        <h2>주변에 있는 급식소</h2>
        <div class="hr"></div>
        <div class="content" style="overflow-x: scroll;">
            <div class="kitchen_container2" style="display:flex;">
                {% for kitchen in Kitchens %}
                    <a href="{% url 'info_kitchen' kitchen.id %}" style="width:400px; position: relative; margin-left:15px; display:block; text-decoration: none;">
                        <img class="main_kitchen2" style="width:100%; object-fit: cover; max-height: 250px;" src="{{ kitchen.image_url }}"><br><br>
                        <span style="font-size: 20px; color:black">{{ kitchen.name }}</span>
                        <span style="font-size: 11px; display: inline-block; color:#8B8CEC; border:1px solid #f0f0f0; text-align:center; width:90px; padding:5px; background-color: white; border-radius: 20px;">오늘 체크인 {{ kitchen.checkIn }}명</span>
                        <br><br>
                    </a>
                {% endfor %}
            </div>
        </div>
    </article>
</section>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    let kitchen = document.querySelectorAll('.main_kitchen').length*415 +"px";
    let kitchen2 = document.querySelectorAll('.main_kitchen2').length*415 +"px";
    let mention = document.querySelectorAll('.mention_box').length*410+'px';
    let cat = document.querySelectorAll('.imgbox_container .imgbox').length*85 + 'px';
    $(".imgbox_container").css("width",cat);
    $(".kitchen_container").css("width",kitchen);
    $(".kitchen_container2").css("width",kitchen2);
    $(".mention_container").css("width",mention);
</script>
{% endblock %}