{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="main">
    <article class="pick">
        <h2>My pick</h2>
        <div class="hr"></div>
        <div class="content">
            <div class="imgbox-container">
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                <div class="imgbox">
                    <a href="{% url 'info_cat'%}"><img src="{% static 'img/cat.png' %}"></a>
                    <span>고양이</span>
                </div>
                
            </div>
        </div>
    </article>
    <article class="live">
        <h2>픽켓 실시간</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
    <article class="place">
        <h2>급식소</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
    <article class="place">
        <h2>급식소</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
    <article class="place">
        <h2>급식소</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
    <article class="place">
        <h2>급식소</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
    <article class="place">
        <h2>급식소</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
    <article class="place">
        <h2>급식소</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
    <article class="place">
        <h2>급식소</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
    <article class="place">
        <h2>급식소</h2>
        <div class="hr"></div>
        <div class="content">
            hi
        </div>
    </article>
</section>

{% endblock %}