{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="mention_kitchen">
    <form method="POST" action="">
        <div class="mention_items" style="width:100%;">
            <img src="{% static 'img/icon-marker.png'%}">
            <span>{{ kitchen.name }}</span>
        </div>
        <div class="mention_items">
            <img src="{% static 'img/cat.png'%}">
            <span>{{ request.user.nickname }} 집사님의 <span style="color:#8B8CEC">픽캣멘션</span></span>
        </div>
        <div class="mention_items">집사님, 오늘 어떤 일을 하셨나요?</div>
        <div class="mention_items">
            <div class="items_row">
                <div>
                    <img src="{%static 'img/icon-rice.png'%}"><span class="mention_span">&nbsp;&nbsp;밥&물 챙겨주기 완료!</span>
                </div>
                <div>
                    <img src="{%static 'img/icon-clap.png'%}"><span class="mention_span">&nbsp;&nbsp;반갑게 인사 완료!</span>
                </div>
            </div>
            <div class="items_row">
                <div>
                    <img src="{%static 'img/icon-candy.png'%}"><span class="mention_span">&nbsp;&nbsp;맛있는 간식 조공 완료!</span>
                </div>
                <div>
                    <img src="{%static 'img/icon-man.png'%}"><span class="mention_span">&nbsp;&nbsp;기타사항 멘션 작성하기</span>
                </div>
            </div>
        </div>
        <input type="submit" value="완료"/>
    </form>
</section>

{% endblock %}