{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="mypage">
    <h3>{{ request.user.nickname}}님의 마이 픽캣스토리</h3>
    <article style="padding-bottom:0; margin-bottom: 30px; background-color: #fefeff;filter:drop-shadow(0px 5px 3px #f7f7f7);">
        <div class="mypage_box1">
            <img src="{{request.user.image_url}}">
            <div class="mention_items" style="width:100%;">
                <span><img src="{% static 'img/icon-marker.png'%}">&nbsp;{{ request.user.address}}에서&nbsp;<span style="color:#8B8CEC;">픽캣 중!</span></span>
            </div>
            <div id="btn-signin-mypage" onclick="location.href='join4'">
                동네 위치 변경
            </div>
        </div>
        <div class="mypage_box2">

            {% if attendaceBadge == True %}

                <div class="mypage_box3">
                <div style="text-align:center; ">
                    <img src="{% static "img/icon-badge.png" %}">
                    <br>
                    <span style="color:#707070;  font-weight: bold; font-size: 13px;">집사님은 급식소 프로 참석러</span>
                    <br>
                    <span style="color:#ECAB31; font-weight: bold; font-size: 13px;">방문오아 배찌 획득완료!</span>
                </div>
            </div>

            {% endif %}



            <div class="mypage_box4">
                <div>
                    <span style="color:#8B8CEC; font-size: 14px;">체크인 급식소</span>
                    {% if user.recentCheckin %}
                        <a href="{% url "info_kitchen" user.recentCheckin.id %}" style="text-decoration: underline; color:rgb(87, 87, 87); font-weight: 600;">{{ user.recentCheckin }}</a>
                    {% endif %}
                </div>
                <div style="color:rgb(87, 87, 87); font-size: 14px;">
                    급식소 체크인&nbsp;<span style="color:#8B8CEC;">총 {{ user.checkIn }}회</span>
                </div>
            </div>
        </div>
    </article>

    <article>
        <h2>My pick</h2>
        <div class="hr"></div>
        <div class="content">
            <div class="imgbox-container">
                {% for cat in user.favoriteCat.all %}
                <div class="imgbox">
                    <a href="{% url 'info_cat' cat.id %}"><img src="{{ cat.image_url }}"></a>
                    <span>{{ cat.name }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </article>
    <a class="logout_box" href="{%url 'sign_out'%}">로그아웃</a>
</section>

    

{% endblock %}