{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="mypage">

    <h3>수지 집사님의 마이 픽캣스토리</h3>

    <article>
        <div class="content">
            
            <img src="{% static 'img/icon-mypage.png'%}">
            
            <div class="mention_items" style="width:100%;">
                <img src="{% static 'img/icon-marker.png'%}">
                <span>인천 미추홀구 용현동에서</span><span>픽캣 중!</span>
            </div>

            <div class="">
                <button id="btn-signin-mypage" type="submit" onclick="location.href='join4'">
                동네 위치 변경
                </button>
            </div>

        </div>
    </article>

    <article>
        <div class="content"> <!-- content2는 작은 박스 -->
            <div>
                <span>집사님은 급식소 프로 참석러</span>
                <br>
                <span>방문오아 배찌 획득완료!</span>
            </div>
        </div>
    </article>

    <article>
        <div class="content2"> <!-- content2는 작은 박스 -->
            <span>체크인 급식소</span>
            <br>
            <span>5호관 숲 급식소</span>
            <div class="hr"></div>
            <div class="content"></div>
        </div>
    </article>

    <article>
        <div class="content2"> <!-- content2는 작은 박스 -->
            <span>급식소 체크인 </span>
            <br>
            <span>총 10회</span>
            <div class="hr"></div>
            <div class="content"></div>
        </div>
    </article>

</section>

<section class="main">
    <article>
        <h2>My pick</h2>
        <div class="hr"></div>
        <div class="content">
            <div class="imgbox-container">
                {% for cat in Cats %}
                <div class="imgbox">
                    <a href="{% url 'info_cat' cat.id %}"><img src="{{ cat.image_url }}"></a>
                    <span>{{ cat.name }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
    </article>
</section>

<section class = "main">
    <article>
        <h2>내가 쓴 멘션 모아보기</h2>
        <div class="hr"></div>
        <div class="content">
            {% for mention in recentMention %}
                {% if mention.type == "K" %}
                     <a href="{% url "info_kitchen" mention.kitchenmention_set.first.target.id %}"> @ {{ mention.kitchenmention_set.first.target }}</a>
                    {{ mention.mention }}
                {% endif %}
                {% if mention.type == "C" %}
                     <a href="{% url "info_cat" mention.catmention_set.first.target.id %}"> @ {{ mention.catmention_set.first.target }}</a>
                    {{ mention.mention }}
                {% endif %}
    

            {% endfor %}
    
        </div>
    </article>
</section>

{% endblock %}