{% extends 'base.html' %}
{% block content %}
{% load static %}
<script src="https://pub-1.scdn.pw/lib/html5-qrcode/1.2.3/html5-qrcode.min.js"></script>
<div id="reader" style="width: 100%; height: 100%; margin-top:30px;"></div>
<script>
    function onScanSuccess(qrMessage) {
        if (qrMessage > 0) {
            window.location.href = `/readQr/${qrMessage}`
        }
    }
    function onScanFailure(error) {
    }

    let html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 250 }, true);
    html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    document.getElementById('reader__dashboard_section_swaplink').style.display = 'none'
</script>

{% endblock %}