<html>
    <head>
        <title></title>
        <script src="https://pub-1.scdn.pw/lib/html5-qrcode/1.2.3/html5-qrcode.min.js"></script>
    </head>
    <body>
        <div id="reader" width="600px"></div>
        <script>
            function onScanSuccess(qrMessage) {
                    // handle the scanned code as you like
                    console.log(`QR matched = ${qrMessage}`);
                }

                function onScanFailure(error) {
                    // handle scan failure, usually better to ignore and keep scanning
                    console.warn(`QR error = ${error}`);
                }

                let html5QrcodeScanner = new Html5QrcodeScanner(
                    "reader", { fps: 10, qrbox: 250 }, /* verbose= */ true);
                html5QrcodeScanner.render(onScanSuccess, onScanFailure);

        </script>
    </body>
    

</html>
