{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>register_cat</title>
    <link rel="stylesheet" type="text/css" />
  </head>

  <body class="register_kitchen">
    	
<form action="{% url 'register_kitchen' %}" enctype="multipart/form-data" method="post" >
{% csrf_token %}
      1. name
      <br />
      <input type="text" name="name" />
      <br />
      2. address
      <br />
      <input type="text" name="address" />
      <br />
      3. 경위도
      <br />
        long : <input type="text" name="longitude" />
        lat : <input type="text" name="latitude" />
      <br />
      4. 설명
      <br />
   <input type="text" name="description" />
      <br />
        5.사진
     <input type="file" name="uploadedImage">
      <button onclick="values()">확인</button>
    </section>

{#    <script type="text/javascript">#}
{#      function values() {#}
{#        var name = document.querySelectorAll('input[id="name"]:checked');#}
{#        console.log(name);#}
{#        var breed = document.querySelectorAll('input[id="bread"]:checked');#}
{#        console.log(breed);#}
{#        var isNeutered = document.getElementById('isNeutered').value;#}
{#        var gender = document.getElementById('gender').value;#}
{#        console.log(gender);#}
{#        var feature = document.querySelectorAll(#}
{#          'input[type="feature"]:checked'#}
{#        );#}
{#        console.log(feature);#}
{#        var kitchenid = document.querySelectorAll('input[id="kitchenid"]:checked');#}
{#        console.log(kitchenid);#}
{#      }#}
{#    </script>#}
    </form>
  </body>
</html>
{% endblock %}