{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="register">

  <form action="{% url 'register_cat' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="register_header">
      <a href="{% url 'register_cat'%}" class="button" style="color:#8B8CEC;"><span>고양이 등록하기</span></a>
      <a href="{% url 'register_kitchen'%}" class="button"><span>급식소 등록하기</span></a>
    </div>
    <div class="register_article"> 
      <span>고양이 사진 등록</span>
      <input class="input_box" type="file" name="uploadedImage" style="line-height: 35px;">
    </div>

    <div class="register_article">
      <span>고양이 기본 정보</span>
      <input class="input_box" type="text" name="name" placeholder="  고양이의 이름을 입력해주세요" required>
      <select class="input_box" name="kitchenid" style="color:gray;" required>
        <option value="" disabled selected>&nbsp;어떤 급식소에서 고양이를 만났나요?</option>
        {% for k in kitchen %}
        <option value="{{ k.id }}">{{ k.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="register_article">
      <span>특징을 입력해주세요</span>
      <input class="input_box" type="text" name="feature" placeholder="  예) 사람을 좋아해요, 줄무늬가 있어요">
    </div>
    <div class="register_article">
      <span>성별을 선택해 주세요</span><br>
      <input type="radio" name="gender" value="M" style="margin-top: 10px;">&nbsp;수컷<br>
      <input type="radio" name="gender" value="F">&nbsp;암컷<br>
      <input type="radio" name="gender" value="U" checked>&nbsp;모름<br>
    </div>
    <div class="register_article">
      <span>중성화 여부를 선택해 주세요</span><br>
      <input type="radio" name="isNeutered" value="T" style="margin-top: 10px;">&nbsp;O<br>
      <input type="radio" name="isNeutered" value="F">&nbsp;X<br>
      <input type="radio" name="isNeutered" value="U" checked>&nbsp;모름<br>
    </div>
    <div class="register_article">
      <span>품종을 입력해주세요</span>
      <input class="input_box" type="text" name="breed" placeholder="  예) 코숏">
    </div>
    <br>
    <input type="submit" value="완료"><br><br>
</section>
</form>
</section>
{% endblock %}